        @keyframes fadeDown {
            from {
                opacity: 0;
                transform: translateY(-15px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeUp {
            from {
                opacity: 1;
                transform: translateY(0);
            }

            to {
                opacity: 0;
                transform: translateY(-25px);
            }
        }

        .notif {
            background: #efffe5ff;
            color: #3e5f20ff;
            padding: 10px 12px;
            margin-top: 10px;
            border-radius: 5px;
            border-left: 5px solid #66b46bff;
            opacity: 0;
            transform: translateY(-15px);

            /* animasi */
            animation: fadeDown 0.6s ease forwards;
        }

        .notif.hide {
            opacity: 0;
            transform: translateY(-10px);
            animation: fadeUp 0.8s ease forwards;
        }

        .notifikasi {
            position: fixed;
            top: 20px;
            right: 50px;
            z-index: 100000000;
        }