        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4e6e2aea;
        }

        @keyframes fadeDown {
            from {
                opacity: 0;
                transform: translateY(-15px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeUp {
            from {
                opacity: 1;
                transform: translateY(0);
            }

            to {
                opacity: 0;
                transform: translateY(-25px);
            }
        }

        .notif {
            background: #efffe5ff;
            color: #3e5f20ff;
            padding: 10px 12px;
            margin-top: 10px;
            border-radius: 5px;
            border-left: 5px solid #66b46bff;
            opacity: 0;
            transform: translateY(-15px);

            /* animasi */
            animation: fadeDown 0.6s ease forwards;
        }

        .notif.hide {
            opacity: 0;
            transform: translateY(-10px);
            animation: fadeUp 0.8s ease forwards;
        }

        .notifikasi {
            position: fixed;
            top: 20px;
            right: 140px;
            z-index: 10;
        }

        .dashboard {
            display: flex;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            background: #f7faf7;
        }

        .torik {
            display: flex;
            justify-content: space-between;
        }

        .alur {
            background: #4e6e2a;
            border: none;
            padding: 7px 14px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            scale: 90%;
        }

        .torik button:hover{
            background-color: #404739 !important;
        }

        hr {
            margin: 20px 0 20px;
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }

        aside {
            background: #85ad75;
            width: 250px;
            padding: 10px 0 10px 10px;
            position: sticky;
            z-index: 2;

        }

        aside h2 {
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 10px 10px 10px 0;
            color: #f1ffe3;

        }

        aside ul {
            list-style: none;
        }

        aside li {
            color: #404739;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 0 10px 20px;
            margin: 6px 0 6px 6px;
            cursor: pointer;
            border-radius: 6px 0 0 6px;
        }

        aside li.active,
        aside li:hover {
            background: white;
        }

        section {
            flex: 1;
            background: white;
            padding: 20px;
            overflow-y: auto;
        }

        .section.hidden {
            display: flex;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 10px;
        }

        tbody {
            gap: 10px;
            margin: 20px;
        }

        tr {
            border-radius: 10px;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
        }

        tr:hover {
            border-radius: 10px;
            background-color: #a4ca79;
            scale: 100.5%;
        }

        td {
            padding: 10px;
            text-align: center;
        }

        th {
            background: #82a560;
            color: white;
            font-weight: 400;
            padding: 5px;
        }

        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 25px;
            width: 100%;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 8%;
        }

        form input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        table button {
            background: #4e6e2a;
            color: white;
            border: none;
            padding: 11px;
            border-radius: 5px;
            cursor: pointer;
        }

        table button:hover {
            background: white;
            color: #4e6e2a;
        }

        #pesan {
            margin-top: 10px;
            color: green;
            font-weight: 600;
        }

        #formTambahRT {
            padding: 0;
        }


        /* ================= RESPONSIVE ================= */
        @media (max-width: 768px) {
            main {
                flex-direction: column;
            }

            aside {
                width: 100%;
                display: flex;
                overflow-x: auto;
            }

            aside ul {
                display: flex;
                width: 100%;
            }

            aside li {
                flex: 1;
                text-align: center;
            }

            section {
                padding: 10px;
            }

            form {
                width: 100%;
            }
        }

                /* Background gelap modal */
        .modal-bg {
            display: none;
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            justify-content: center;
            align-items: center;
        }

        /* Box modal */
        .modal-box {
            background: white;
            width: 350px;
            padding: 20px;
            border-radius: 10px;
            animation: fadeIn 0.3s;
        }

        /* Animasi */
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .hapus {
            background-color: #a02f2fff;
            list-style: none;
            text-decoration: none;
            color: #f5f5f5f5;
            font-size: 13px;
            padding: 5px;
            margin-right: 4px;
            border-radius: 5px;
        }

        .hapus:hover {
            background-color: #f5f5f5f5;
            color: #678f3bff;
        }

        .update {
            background-color: #678f3bff;
            list-style: none;
            text-decoration: none;
            color: #f5f5f5f5;
            padding: 5px;
            font-size: 13px;
            
            border-radius: 5px;
        }

        .update:hover {
            background-color: #f5f5f5f5;
            color: #678f3bff;
        }

        .close-btn {
            float: right;
            cursor: pointer;
            font-weight: bold;
        }

        .modal-box label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        .modal-box input {
            width: 100%;
            padding: 7px;
            border: 1px solid #aaa;
            border-radius: 5px;
            margin-top: 3px;
        }

        .modal-box button {
            margin-top: 15px;
            padding: 10px;
            width: 100%;
            background: #679e3af5;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        .filter-box {
            margin: 20px 0;
            display: flex;
            gap: 10px;
        }

        .filter-box input {
            padding: 8px;
            width: 250px;
            border: 1px solid #aaa;
            border-radius: 5px;
        }

        .filter-box button {
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }

        #btnFilter {
            background: #679e3af5;
            color: white;
        }

        #btnReset {
            background: #888;
            color: white;
        }