        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        #clock {
            color: #fff;
            font-family: monospace;
            font-size: 18px;
        }

        .waktu-uuu {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        body {
            background-image: url(../image/download.jpg);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        }

        a {
            text-decoration: none;
        }

        /* HEADER */
        .head {
            background: linear-gradient(to right, #3f492d, #88976c);
            height: 13vh;
            align-items: center;
            display: flex;
            padding: 0 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            font-weight: bold;
            font-size: 32px;
            padding-top: 8px;
        }

        /* NAVBAR SAMPING */
        .navbar {
            min-height: 87vh;
            background-color: #88976cce;
        }

        .navigasi-navbar {
            width: 220px;
            background-color: #879867;
            position: fixed;
            top: 13vh;
            bottom: 0;
            left: 0;
            overflow-y: auto;
            padding: 9px 0 2px 0;
        }

        .list-navbar h2 {
            padding: 10px;
            margin: 10px;
            color: white;
            cursor: pointer;
            transition: all 0.3s;
            border-radius: 4px;
            font-size: 24px;
            font-weight: 900;
        }

        .list-navbar h2:hover {
            background-color: white;
            color: #738B67;
            transform: translateY(3px);
        }

        /* ISI KONTEN */
        .content {
            flex: 1;
            margin-left: 240px;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: flex-start;
        }

        .card {
            background-color: white;
            padding: 20px;
            width: 280px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        }

        .card h1 {
            font-size: 100px;
        }

        .card h2 {
            font-size: 22px;
            margin-top: 10px;
        }

        .card2 {
            background-color: white;
            border-radius: 14px;
            padding: 15px;
            width: 600px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        }

        .card2 h2 {
            margin-bottom: 10px;
        }

        .table-wrapper {
            max-height: 370px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 8px 5px;
            font-size: 1em;
            vertical-align: top;
        }

        td:first-child {
            font-weight: bold;
            width: 40%;
        }

        /* RESPONSIVE */
        @media screen and (max-width: 992px) {
            .content {
                margin-left: 230px;
                flex-direction: column;
                align-items: center;
            }

            .card,
            .card2 {
                width: 90%;
            }

            .table-wrapper {
                max-height: 400px;
            }
        }

        @media screen and (max-width: 768px) {
            .navigasi-navbar {
                position: relative;
                width: 100%;
                height: auto;
                z-index: 10;
                transform: translateY(-130px);
            }

            .navbar {
                flex-direction: column;
                padding-top: 0;
            }

            .content {
                margin-left: 0;
                margin-top: 120px;
                z-index: 1;
                padding: 0;
            }

            .card,
            .card2 {
                width: 95%;
            }

            .list-navbar {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

            }

            .list-navbar h2 {
                margin: 5px;
                font-size: 16px;
            }
        }

        @media screen and (max-width: 480px) {
            .logo {
                font-size: 22px;
            }

            .card h1 {
                font-size: 70px;
            }

            td {
                font-size: 0.9em;
            }
        }

        .btn-success {
            background-color: #3f492d93;
            border: none;
            color: white;
            transition: all 0.3s;
        }

        .btn-success:hover {
            background-color: #ffffff;
            color: rgb(142, 167, 84);
        }

        .modal-header {
            background-color: #738B67;
        }