        * {
            margin:0; padding:0; box-sizing:border-box;
        }
        
        body {
            background-image: url(../image/download.jpg);
            font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-size: cover;
            background-position: center;
            
        }

        header {
            background: linear-gradient(to right, #3f492d, #88976c);
            height: 13vh;
            align-items: center;
            display: flex;
            padding: 0 20px;
            color: white;
            position: fixed;
            width: 100%;
        }
        .bungkus {display: flex; background-color: #88976cce; padding-top: 13vh; }

        .sidebar {
            width: 220px; background-color: #879867;
            padding: 20px 10px; min-height: 100vh;
            position: fixed;
        }
        .menu-item {
            padding: 10px;  margin-bottom: 10px; color: white;
            cursor: pointer; border-radius: 4px; transition: .3s;
        }
        .menu-item:hover {
            background-color:white; color:#738B67; 
        }

        .content {
            flex: 1; padding: 20px 30px 0 250px; min-height: 87vh;
        }

        .panduan {
            background-color: #879867ab; border: 2px solid #8A9A7A;
            padding: 20px; margin-bottom: 20px;
        }
        
        .panduan h3 {
            margin-bottom: 15px;
        }

        .panduan li {
            margin-bottom: 8px; font-size: 16px;
        }

        .form-container {
            background-color: #879867ab; padding: 30px; border-radius: 5px;
        }

        .form-group {
            display:flex; align-items:center; margin-bottom:15px;
        }

        .form-group label {
            width:200px; font-size:18px; font-weight:bold;
        }

        .form-group input, .form-group select {
            flex:1; padding:10px; font-size:16px; border:1px solid #ccc;
            background-color:#9eb181ea;
        }

        .jenis-buttons {
            display:flex; gap:10px;
        }

        .jenis-btn {
            padding:8px 20px; background: #6B7D5F; color:white; border:none;
        }

        .jenis-btn:hover {
            background-color:#ffffffa9;
        }

        .submit-btn {
            background-color:#32CD32; color:white; padding:12px 40px;
            border:none; font-size:16px; font-weight:bold; cursor:pointer;
            float:right; margin-top:20px;
        }

        .submit-btn:hover {
            background:#28A428;
        }

        #dataIbuHamil, #dataWargaMeninggal {
            display:none;
        }

        .show {
            display:block !important;
        }