        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Segoe UI", sans-serif;
        }
        
        body {
            background-image: url(download.jpg);
            background-size: cover;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: flex;
        }

        @keyframes contentSlideUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .card-home {
            animation: contentSlideUp 2.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }

        .filter-bar {
            animation: contentSlideUp 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }

        table {
            animation: contentSlideUp 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;

        }

        .content-animate {
            padding-left: 0;
        }

        .sidebar {
            width: 250px;
            background-color: #8da070;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: fixed;
            height: 100%;
            left: 0;
            top: 0;
        }

        .sidebar-header {
            text-align: center;
            padding-top: 22px;
            padding-bottom: 3px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        .sidebar-header h1 {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 4px;
        }

        .sidebar-header p {
            font-size: 12px;
            color: #4b5c30;
            font-weight: bold;
        }

        .nav {
            padding: 20px;
        }

        .nav a {
            display: block;
            width: 100%;
            color: white;
            text-decoration: none;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
            margin-bottom: 10px;
            border-radius: 8px;
            transition: background 0.2s;
            font-size: 1.35em;
        }

        .nav a:hover {
            background-color: #6b7a59;
        }

        .sidebar-footer {
            padding: 14px;
            text-align: center;
            font-size: 12px;
            color: #ffffff;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }


        /* ---------------------------- */

        .home {
            padding-left: 250px;
            background-color: #88976cce;
            width: 100%;
            padding-bottom: 30px;
            padding-top: 30px;
            min-height: 100vh;
        }

        .card-home {
            background-color: #77855f;
            color: rgb(255, 255, 255);
            padding: 15px;
            margin: 20px auto;
            width: 90%;
            border-radius: 8px;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            text-align: center;
            font-weight: 700;
            color: #ffffff;
        }

        .filter-bar {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 20px;
            flex-wrap: wrap;
            
        }

        table {
            width: 90%;
            margin: 0 auto;
            border-collapse: collapse;
            text-align: center;
            background-color: white;
        }

        th {
            background-color: #7b865a;
            color: white;
            padding: 12px;
        }

        td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        tr{
            background-color: #dbe6bd;
        }

        .btn-green {
            background-color: #7b865a;
            color: white;
            border: none;
        }

        .btn-green:hover {
            background-color: #65724e;
        }

        .btn-danger {
            background-color: red;
            color: white;
            border: none;
        }

        .modal-header {
            background-color: #7b865a;
            color: white;
        }