/* Animation */
        @keyframes contentSlideUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .content-animate {
            animation: contentSlideUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Segoe UI", sans-serif;
        }


        body {
            display: flex;
            background-image: url(download.jpg);
            background-size: cover;
            background-position: fixed;
            color: #333;
            min-height: 100vh;
        }

        .table-hover tbody tr:hover {
            background-color: #e8f0fe;
            cursor: pointer;
        }

        .profile-img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #fff;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        }

        .modal-header {
            border: none;
        }

        .card-custom {
            border-radius: 18px;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
        }


        /* SIDEBAR */
        .sidebar {
            width: 250px;
            background-color: #8da070;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: fixed;
            height: 100%;
            left: 0;
            top: 0;
        }

        .sidebar-header {
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        .sidebar-header h1 {
            padding-top: 11px;
            font-size: 24px;
            margin-bottom: 4px;
            font-weight: 700;
        }

        .sidebar-header p {
            font-size: 12px;
            color: #4b5c30;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .nav {
            padding: 20px;
        }

        .nav a {
            display: block;
            color: white;
            width: 100%;
            text-decoration: none;
            padding: 10px 15px;
            margin-bottom: 5px;
            border-radius: 8px;
            transition: background 0.2s;
            font-size: 1.35em;
        }

        .nav a:hover {
            background-color: #6b7a59;
        }

        .sidebar-footer {
            padding: 15px;
            text-align: center;
            font-size: 12px;
            color: #ffffff;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }

        .container {
            max-width: none !important;
        }

        .card-home {
            background-color: #77855f;
            color: #f5f5f5f5;
            padding: 15px;
            margin: 20px 0 ;
            width: 100%;
            border-radius: 8px;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }